* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    
}

h1 {
    font-size: 10vh;
}

html {
    scroll-behavior: smooth;
}

.sidebar {
    top:0;
    height: 80px;
    width: 100%;
    /*border: 1px solid green;*/
    text-align: center;
    overflow-x: hidden;
    position:fixed;
    /*background-image: linear-gradient(to top, rgba(122, 106, 163, .4), rgba(68, 7, 218, .4));*/
    background-image: url(images\PurpleSkyProfileHeader.png);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
    z-index: 1;
}

.sidebar h2 {
    float: left;
    font-size: 35px;
    background-image: linear-gradient(to right, rgb(100,61,194), rgb(30, 5, 45));
    background-repeat: repeat;
    -webkit-background-clip: text;
    color:transparent;

}

.sidebarlinks {
    width: 55%;
    float: right;
    height: auto;
   /* border:1px black solid;*/
    display: flex;
    justify-content: space-around;
    align-items: right;
    font-size:28px;
    font-weight: bold;
    overflow: hidden;
    text-align: center;
    

}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.links {
    text-decoration: none;
    color:black;
    margin:0px 5px;
}

.links:hover {
    background-image: linear-gradient(to right, rgb(100,61,194), rgb(30, 5, 45));
    background-repeat: repeat;
    -webkit-background-clip: text;
    color:transparent;
    transition:0.5s;
}

.aboutme {
  /*  height: 650px; */
    height: 100%;
    width:100%;
   /* border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right,  rgb(100,61,194), rgb(30, 5, 45));
    padding-top: 80px;
    position: relative;
}

.container {
    width:70%;
    border:1px solid black;
    height: 100%;
    min-height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*background: rgba(107, 55, 193, 1);*/
    flex-wrap: wrap;
    border-radius: 60px;
    box-shadow: 40px -20px rgba(0, 0, 0, 0.1);
    background-image: url(https://cdn.wallpapersafari.com/18/42/DokSTU.jpg);
    overflow: hidden;
    position:relative;
    padding: 20px;
    margin-top: 95px;
    margin-bottom: 95px; 
}

.logoimg {
    border: 2px solid white;
    width: 250px;
    min-width: 125px;
    height: 250px;
    min-height: 125px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top:5px;
}

.logoimg img {
    width: 100%;
    height: 100%;
    opacity: .9;
}

.text {
    margin-left: 5px;
    /*border: 1px solid brown;*/
    color:white;
}

.text h1 {
    font-size: 8vh;
    margin-left: 10px;
}

.text p {
    font-size: 4vh;
    margin-left: 20px;
}

.icon {
   /* border: 1px solid black;*/
    padding:4px;
    width: 60px;
    height: 70px;
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: rgba(0,0,0, .2);
    border-radius: 15px;
}

.icondiv {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.custom-shape-divider-bottom-1682369104 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1682369104 svg {
    position: relative;
    display: block;
    width: calc(137% + 1.3px);
    height: 61px;
}

.custom-shape-divider-bottom-1682369104 .shape-fill {
    fill: #FFFFFF;
    
}


.myprojectscontainer {
    min-height:550px;
    height:100%;
    width:100%;
    border: 1px solid transparent;
    border-bottom: white;
    text-align: center;
    flex-wrap: wrap;
    background-color: white;;
}

.projecttitle {
   margin: 10px 0px; 
   width: 100%;
   padding-top: 80px;
}

.myprojects {
    width: 100%;
    height: 100%;
  /*  border:1px solid red;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 30px 0px;
    
}

.projects {
    width:fit-content;
    height: fit-content;
    border:1px solid grey; 
    margin: 20px;
    text-align:center;
    position: relative;
    background-color: rgba(203,195,227,.3);
    border-radius: 20px;
    box-shadow: 10px -5px rgba(203,195,227, 0.3);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-wrap:wrap-reverse;
    cursor:default;
    
}

.projects img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding:5px;
    text-align: center;
}
 
.projectimg {
    height: 70%;
    min-height: 300px;
    width:50%;
    min-width: 420px;
    max-width:450px;
    display: flex;
    align-items: center;
    justify-content: center;
   /* border:1px dotted red; */
    margin-left: 25px;
    background-color: white;
    padding-right: 25px;
    border-radius: 20px;
}

.projectname {
    width: 100%;
    background-color: transparent;
}

.projecttext {
   /* border:1px dotted black; */
    border-radius: 20px;
    width:50%;
    min-width: 420px;
    max-width:450px;
    height: 90%;
    min-height: 250px;
    overflow: hidden;
    padding-top: 10px;
    margin-left: 10px;
    background-image: linear-gradient(to right, rgba(177, 156, 217, .5), rgba(177, 156, 217,.2), rgba(177, 156, 217,0));
    
}

.projecttext h2 {
    font-size: 5vh;
}

.projecttext p {
    text-align: left;
    padding:5px;
    font-size:3vh;
}

.iconsdiv {
   /* border:1px dotted purple;*/
    float:inline-end;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    min-height: 75px;
    width:100%;
    padding-left: 20px;
}

.roundicon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 20px;
    border:1px solid black;
    overflow: hidden;
}

.roundicon:hover {
    background-color:#663dff;
    transition: 0.2s;
    width:53px;
    height: 53px;
    border-radius: 50%;
    cursor:pointer;
    
}


/*.projects:hover {
    width:350px;
    height: 300px;
    transition: all 1s ease-in-out;
}
*/


.contactme {
    height:400px;
    width: 100%;
   /* border:1px solid black;*/
    display: flex;
    align-items:end;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #663dff;
    background-image: linear-gradient(319deg, rgb(100,61,194), rgb(30, 5, 45));
    position: relative;
    padding-bottom: 8px;
}

.title {
  /*  border:2px solid salmon;*/
    height: auto;
    width: 100%;
    text-align: center;
    color:white;
    margin-bottom: 50px;
}



.mysocials{
    width:fit-content;
    height: 200px;
    padding: 10px 30px;
    /*border:3px black solid;*/
    border-width: 100%;
    text-align: center;
    margin-top: -100px;
}

.socialicons {
    height:100px;
    width:100%;
    object-fit: cover;

}

.socialicons img {
    height: 100%;
    width:100%
}

.iconcontainer {
    height: 70px;
    width: 70px;
  /*  border:1px solid yellow;*/
    margin: 5px;
    background-color: rgba(255,255,255, .1);
    border-radius: 20px;
    padding:5px;
}

.iconcontainer:hover {
    height:75px;
    width:75px;

}

.spacearound {
    display: flex;
    justify-content: center;
}

.resume {
    padding-top: 50px;
    margin:5px;
    
}

.resume h3 {
    color:white;
    font-size: 20px;
}

.custom-shape-divider-top-1682369629 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    color:white;
    
}

.custom-shape-divider-top-1682369629 svg {
    position: relative;
    display: block;
    width: calc(108% + 1.3px);
    height: 47px;
    transform: rotateY(180deg);
    color:white;
    border:1px solid white;
    border-top-width: 0;
    border-bottom-width: 0;
 
}

.custom-shape-divider-top-1682369629 .shape-fill {
    fill: white;
    border:solid white 1px;
}

.contactme h2 {
    font-size: 6vh;
}

.contactme p {
    font-size: 3vh;
}

#myprojectstitle {
    background-image: linear-gradient(to right, rgb(100,61,194), rgb(10, 1, 15));
    background-repeat: repeat;
    -webkit-background-clip: text;
    color:transparent;
   
}

@media  (max-width: 390px) and (max-height: 844px) {
    .sidebar {
        height: fit-content;
    }
    .sidebar h2 {
        font-size: 45px;
    }
    .sidebarlinks{
        flex-wrap: wrap;
        height: max-content;
        overflow: visible;
        width: 100%;
    }
    .links {
        width: 150px;
        height: 100%;
        font-size: 30px;
        flex-wrap: wrap;
        padding-bottom: 10px;
    }
    .sidebar {
        flex-wrap: wrap;
    }
    .container {
        flex-wrap: wrap;
        width:90%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logoimg {
        margin-left: 3px;
    }
    .projects {
        width: max-content;
        height: max-content;
    }
    .projectdescription {
        width:80%;
        margin-left:38px;
        font-size: 23px;
    }
};